.container {
	background: #96bb7c;
    padding: 70px 0;
    text-align: center;
    font-family: sans-serif;
}    
.count-down-timer{
	width: 100%;
	text-align: center;
	padding: 0;
}	
.count-down-timer li {
	list-style: none;
    font-size: 30px;
    display: inline-block;
    box-shadow: 1px 1px 2px #184d47;
    margin-right: 30px;
    border: 1px solid;
    padding: 25px;
    border-radius: 10px;
    background: #184d47;
    color: #96bb7c;
}
.count-down-timer li:last-child {
	margin-right: 0;
}
@media only screen and (max-width: 600px) {
	.count-down-timer li {
		width: 13%;
		margin-right:10px;
		font-size:20px;
		padding: 15px 10px;
	}	
}
